{% extends 'base.html.twig' %}

{% block title %}Alaraf-{{npc.name}}
{% endblock %}

{% block content %}
	<div class="row pt-3 pb-3 mb-3 mt-3">
		<div class="col-3 ">{{npc.name}}
			{% if npc.lastname %}
				{{npc.lastname}}
			{% endif %}
		</div>
		<div class="col-3 ">{{npc.race}}</div>
		<div class="col-6">{{npc.description}}</div>


	</div>
{% endblock %}
