{% extends 'base.html.twig' %}

{% block title %}Alaraf-Journal
{% endblock %}

{% block content %}

	<h1 class="mt-5 pt-2">Alaraf Journal</h1>
	{% for post in posts| sort((b, a) => a.getCreatedAt() <=> b.getCreatedAt()) %}
		<div class="card mt-3">
			<div class="card-header">
			<div class="row ">
			<div class="col-6">
				{{post.title}}
				<p>{{post.getCreatedAt()|date('l jS F \o')}}</p>
			</div>	
			<div class="col-6">
				{% if post.comments| length > 0 %}
				<p class='text-right'>{{post.comments| length}} comment(s)</p>
				{% endif %}
				{% if post.comments| length is same as 0 %}
				<p class='text-right'>No comment yet</p>
				{% endif %}
				</div>
				</div>
			</div>
			<div class="card-body">
			<p>{{post.content[:177]}}...</p>
				<blockquote class="blockquote mb-0">
					<a type="button" class="btn btn-outline-info btn-sm" href="{{path('post',{'id':post.id})}}">Go to Thread</a>
				</blockquote>
			</div>
		</div>
	{% endfor %}

{% endblock %}
