{% extends 'base.html.twig' %}

{% block title %}Alaraf-{{post.title}}
{% endblock %}

{% block content %}

	<h1 class="mt-5 pt-2 text-center">{{post.title}}</h1>
	<h3 class="text-center"><small class="text-muted">{{post.getCreatedAt()|date('l jS F \o')}}</small></h3>


	
		<div class="card my-3">
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					<p>{{post.content}}</p>
					<br>
					{% if post.content2 %} 
						<p>{{post.content2}}</p>
					{% endif %}
					 <br>
					{% if post.content3 %} 
						<p>{{post.content3}}</p>
					{% endif %}
					 <br>
					{% if post.content3 %} 
						<p>{{post.content3}}</p>
					{% endif %}
					 <br>
					{% if post.content4 %} 
						<p>{{post.content4}}</p>
					{% endif %}
					 <br>
					{% if post.content5 %} 
						<p>{{post.content5}}</p>
					{% endif %}
					 <br>
					{% if post.content6 %} 
						<p>{{post.content6}}</p>
					{% endif %}
					 <br>
					{% if post.content7 %} 
						<p>{{post.content7}}</p>
					{% endif %}
					 <br>
					{% if post.content8 %} 
						<p>{{post.content8}}</p>
					{% endif %}
					 <br>
					{% if post.content9 %} 
						<p>{{post.content9}}</p>
					{% endif %}
					 <br>
					{% if post.content10 %} 
						<p>{{post.content10}}</p>
					{% endif %}
					<div class="border-top p-2 d-flex justify-content-center">
						{% if app.user %}
							<button type="button" class="btn btn-info text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Comment</button>
							{% endif %}
							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="exampleModalLabel">New Comment</h4>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											{{form(form)}}
										</div>
									</div>
								</div>
							</div>
						</div>
				</blockquote>
                {% for comment in comments %}
				<div class="card my-3">
					<div class="card-header">
						{{comment.getUser()}}
						<p>{{comment.getCreatedAt()|date('d/m/Y')}}</p>
					</div>
					<div class="card-body">
						<blockquote class="blockquote mb-0">
							
							<p>{{comment.content}}</p>
							
						</blockquote>
					</div>
				</div>
                 {% endfor %}
			</div>
		</div>

{% endblock %}
