{% extends 'base.html.twig' %}

{% block title %}Alaraf-{{faction.name}}
{% endblock %}

{% block content %}
	<h2 class="col pt-3 pb-3 mb-3 mt-3 text-center" >{{faction.name}}</h2>
	{% if faction.image %}
		<div class="col-12 rounded mx-auto d-block w-50">
			<a href="/uploads/{{faction.image}}" target="_blank"><img src="/uploads/{{faction.image}}" alt="{{faction.image}}" class="img-fluid"></a>
		</div>
	{% endif %}
	{% if faction.races %}
		<div class="col-12 py-3 text-center font-weight-light font-italic">{{faction.races}}</div>
	{% endif %}


	<div class="row mt-5">
		<div class="col-md-8 col-12">{{faction.description}}
		</div>
		<div class="col-md-2 col-6">
		<div class="row">
					<p class="font-weight-bold"> Subfactions:</p>
				</div>
			{% for subfaction in subfactions %}
				<div class="row">
					<a href="{{path('subfaction',{'id':subfaction.id})}}">{{subfaction.name}}</a>
				</div>
			{% endfor %}
		</div>
		{% if faction.npcs %}
			<div class="col-md-2 col-6">
				<div class="row">
					<p class="font-weight-bold"> Members:</p>
				</div>
				{% for npc in npcs %}
					<div class="row">
						<a href="{{path('npc',{'id':npc.id})}}">{{npc.name}}
							{% if npc.lastname %}
								{{npc.lastname}}
							{% endif %}
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}

	</div>

{% endblock %}
