<!doctype html>
<html lang="fr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Alaraf ">
		<meta name="author" content="Jonathan Cohen at phanios.fr">
		<meta name="generator" content="Jekyll v4.1.1">
		<title>
			{% block title %}
				Alaraf
			{% endblock %}
		</title>

		<!-- Bootstrap core CSS -->
		<link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet"> {% block javascript %}{% endblock %}
		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
		<!-- Custom styles for this template -->
		<link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
	</head>

	<body>
		<header class="mb-5">
			<nav class="navbar navbar-expand-md  fixed-top bg-light">
				<a class="navbar-brand" href="/">
					Alaraf</a>
				<button class=" navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">Menu</span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav mr-auto ">
						<li class="nav-item ">
							<a class="nav-link " href="/world">The World
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{# <li class="nav-item  ">
																		<a class="nav-link " href="/">Qui suis-je?
																			<span class="sr-only">(current)</span>
																		</a>
																	</li> #}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Factions
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="/tarocci">The Tarocci Crusade</a>
								</li>
								<li>
									<a class="dropdown-item" href="/baharit">The Five Countys of Baharit</a>
								</li>
								<li>
									<a class="dropdown-item" href="/jormagund">The Jormagund Raiders</a>
								</li>
								<li>
									<a class="dropdown-item" href="/eldritch">The Eldritch Lords Territories</a>
								</li>

							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Gods
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="/goodgods">Good gods</a>
								</li>
								<li>
									<a class="dropdown-item" href="/neutralgods">Neutral Gods</a>
								</li>
								<li>
									<a class="dropdown-item" href="/evilgods">Evil Gods</a>
								</li>
							</ul>
						</li>
						<li class="nav-item ">
							<a class="nav-link " href="/world">Optionnal rules
								<span class="sr-only">(current)</span>
							</a>
						</li>
						{# <li class="nav-item  ">
													<a class="nav-link " href="/contact">Contact
													</a>
												</li> #}
						{# <li class="nav-item  ">
													<a class="nav-link " href="/mon-panier">
														<img src="{{ asset('assets/img/shopping-cart.png')}}" class="cart-icon" alt="Mon panier">
													</a>
												</li> #}
					</ul>

					{% if app.user %}
						<a class="nav-link" href="/account">My Account<small>
								({{app.user.firstname}})</small>
							<span class="sr-only">(current)</span>
						</a>

						<a class="nav-link" href="/logout">Log Out
							<span class="sr-only">(current)</span>
						</a>
					{% else %}
						<a class="nav-link" href="/login">Log In
							<span class="sr-only">(current)</span>
						</a>

						<a class="nav-link" href="/register">Register
							<span class="sr-only">(current)</span>
						</a>
					{% endif %}

				</div>

			</nav>
		</header>

		<main role="main">
			<div class="container mt-5">
				<div class="container-fluid mt-5"> {% block content
			%}{% endblock %}
					</div>
				</div>


				<!-- FOOTER -->
				<footer class="footer-custom no-gutters mt-5">
					<p>
						<small>
							Created by :
							<a href="https://phanios.fr/">
								Phanios.fr</a>
						</small>
					</p>
				</footer>
			</main>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
		</body>

		{% block script %}{% endblock %}

	</html>
